# Бинарные файлы Go
node_exporter_custom

# Логи и временные файлы
*.log
service.log

# Файлы, созданные для Windows
*.exe
*.dll

# Кэш и зависимости
vendor/
*.mod
*.sum

# Сборочные артефакты
*.wixobj
*.msi
*.wixpdb



# Другие файлы временного назначения
*.tmp
*.temp