# Бинарные файлы Go
node_exporter_custom

# Логи и временные файлы
*.log
service.log

# Файлы, созданные для Windows
*.exe
*.dll



# Сборочные артефакты
*.wixobj
*.msi
*.wixpdb



# Другие файлы временного назначения
*.tmp
*.temp

# Сертификат приватный
configs/certs/key.pem

# Mac os files
.DS_Store