<Wix
  xmlns="http://wixtoolset.org/schemas/v4/wxs"
  xmlns:fire="http://wixtoolset.org/schemas/v4/wxs/firewall"
  
>
  <Package
    Name="NITRINOnetControlManager"
    UpgradeCode="0547e595-c4be-4973-ab78-189148bc3900"
    Manufacturer="NITRINOnet"
    Version="1.0.0"
    
  >
    <Media Id="1" Cabinet="product.cab" EmbedCab="yes" />
    <Icon Id="AppIcon" SourceFile="app_ico.ico" />

    <Property Id="ARPPRODUCTION" Value="AppIcon"/>

    <StandardDirectory Id="ProgramFilesFolder">
      <Directory Id="NITRINOnetControlManagerFolder" Name="NITRINOnet Control Manager" />
    </StandardDirectory>

             
        

    <Feature Id="Main" Title="NITRINOnet Control Manager" Level="1">
      <Component Directory="NITRINOnetControlManagerFolder" Id="MainExecutable" Guid="c53a0add-887f-4983-a4c1-28acafa114a8">
          <File Id="NITRINOnetControlManagerExe" Source="NITRINOnetControlManager.exe" KeyPath="yes" />
              <!-- Определение службы-->
            <ServiceInstall 
              Id="ServiceInstaller" 
              Name="NITRINOnetControlManager" 
              DisplayName="NITRINOnet Control Manager" 
              Description="Service for NITRINOnet Control Manager" 
              Start="auto" 
              Type="ownProcess" 
              ErrorControl="normal">
            </ServiceInstall>

            <!-- Управление службой-->
            <ServiceControl 
              Id="StartService" 
              Name="NITRINOnetControlManager" 
              Start="install" 
              Stop="both" 
              Remove="uninstall" 
              Wait="yes">
            </ServiceControl>

            <!-- Удаление службы-->
            <ServiceControl
              Id="RemoveService"
              Name="NITRINOnetControlManager"
              Start="ignored"
              Stop="both"
              Remove="uninstall"
              Wait="yes">
              
            </ServiceControl>


            <ServiceConfig 
                ServiceName="NITRINOnetControlManager"
                OnInstall="yes"
                DelayedAutoStart="yes"
            />
            

            <!-- Firewall Exception -->
            <fire:FirewallException
                Id="FirewallException9183"
                Name="NITRINOnetControlManager Firewall Exception Port 9183"
                Description="Allow access to port 9183 for NITRINOnetControlManager"
                Scope="any"
                Port="9183"
                Protocol="tcp"
                Profile="all"
                Program="[NITRINOnetControlManagerFolder]NITRINOnetControlManager.exe" 
                Action="allow"
                Enabled="yes"
                />


      </Component>
    </Feature>
 
  </Package>
</Wix>
